{% extends 'base.html' %}

{% block title %}Task Management{% endblock %}

{% block content %}
<h1 class="form_heading"> Update Project</h1>
<form method="POST" action="{{url_for('update_project',project_id=proj.P_id)}}">
    <div class="row">
        <div class="col">
            <input class="form-control task_form" name="P_name" type="text" placeholder="Project Name:" value="{{proj.P_name}}" >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control task_form" name="P_desc" type="text" placeholder="startdate:"value="{{proj.P_desc}}" >

        </div>
    </div>
    <div class="row">
        <div class="col">
           <p class="para1">Status:
             <select class="list_dropdown" name="P_status">
                <option value="Assigned">Assigned</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </p> 
        </div>
    </div>
    <div class="submit">
            <button class="btn btn-dark submit_button" type="submit">Submit</button>            
    </div>
</form>
{% endblock %}
